# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Blind75/394
Blind75/394.dSYM/Contents/Info.plist
Blind75/394.dSYM/Contents/Resources/DWARF/394
Blind75/128
Blind75/128.dSYM/Contents/Resources/DWARF/128
Blind75/128.dSYM/Contents/Info.plist
Blind75/560
Blind75/215
Blind75/1239
